Flask==3.0.3
Flask-Cors==4.0.0
google-generativeai==0.5.2
google-resumable-media==2.7.0
googleapis-common-protos==1.63.0
grpc-google-iam-v1==0.13.0
numpy==1.26.4
openpyxl==3.1.2
pandas==2.2.2
pillow==10.3.0
protobuf==4.25.3
pydantic==2.7.0
pydantic_core==2.18.1
pyparsing==3.1.2
python-dotenv==1.0.1
requests==2.31.0
shapely==2.0.4
tzdata==2024.1
Werkzeug==3.0.
